@font-face {
  font-family: 'pretendo';
  src: url('../fonts/pretendo.ttf')  format('truetype');
}

body {
    background-color: #F9FAFC;
    font-weight: 700;
}

.footer {
    background: rgb(252,249,249);
    background: linear-gradient(180deg, rgba(252,249,249,1) 0%, rgba(240,3,3,1) 100%);
}

.align {
    display: flex;
    align-items: center;
}

.bg-red {
    background-color: #f00303;
} 

.brand {
    font-family: 'pretendo', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
/*    color: #f00303; */
}

/* .black {
    color: #000000;
} */
    

.card-img-top {         /* custom css rule */
    width: 389px!important;
    height: 284px!important;
    object-fit: cover;
}

.card-title {
    font-size: 1.2rem;
}

.col-red {
    color: #E84610;
}

.thin {
    font-weight: 500;
}

.light-bg {
    background-color: #fff;
}

.red-bg {
    background-color: #f00303;
}

.main-bg {
    background-color: #fcf9f9;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
/*    position: absolute; */
    bottom: 5%;
    min-width: 30%;
    left: 20px;
    background-color: #f00303;
    margin-bottom: 20px;
}


.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.maincontent {                  /* später einpflegen für margins */
    margin-top: 100px;
    z-index: 10;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 100px;
}



.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: black;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: black;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.navbar {
    background: rgb(252,249,249);
    background: linear-gradient(0deg, rgba(252,249,249,1) 0%, rgba(240,3,3,1) 100%);
}
/* .nav-black {
    color:#000000;
} */

.game-link {
    text-decoration: none;
    color: #000000;
}

.game-link:hover,
.page-link {
    color: #E84610;
}

.game-title {
    margin-top: 5%;
    margin-left: 5%;
}

.game-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #f00303;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #f00303;
}

.link {
    color: #f00303;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #000000;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.outline {
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}

.textcenter {
    text-align: center;
}

.whitespace {
    padding-right: 7px;
  }

/*.white-col {
    color: #ffffff;
} */



@media only screen and (max-width: 150px) {
    .card-img-top {         /* custom css rule */
        width: 100px!important;
        height: 75px!important;
        object-fit: cover;
    } 
  }


@media only screen and (max-width: 280px) {
    .card-img-top {         /* custom css rule */
        width: 200px!important;
        height: 150px!important;
        object-fit: cover;
    }

    .topgame {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .game-title {
        font-size: 16px;
    }

    .game-subtitle {
        font-size: 12px;
    }

    .footer {
        font-size: 12px;
    }

    #welcome {
        font-size: 14px;

    }    
  }

  @media only screen and (max-width: 470px) {
    .card-img-top {         /* custom css rule */
        width: 100%!important;
        height: auto!important;
        object-fit: fill;
    }
 
    #welcome {
        font-size: 8px;

    }  

    form {
        display: flex;
        flex-direction: column;
    }

    .btn-signup {
        margin-top: 10px;
    }

  }

@media only screen and (max-width: 767px) {
    
    .card-img-top {         /* custom css rule */
        width: 100%!important;
        height: auto!important;
    }

    #welcome {
        font-size: 12px;
    }  

}


@media only screen and (max-width: 1021px) {
    
    .card-title {
        font-size: 14px;
    }

    .card-text {
        font-size: 14px;
    }

}
    
        
 

/*  @media only screen and (max-width: 1365px) {
    .card-img-top {         
        width: 100%!important;
        height: 100%!important;
        object-fit: fill;
    }
  } */

@media only screen and (max-width: 1365px) {
    .card-img-top {         /* custom css rule */
        width: 100%!important;
        max-height: 242px!important;
        object-fit: fill;
    }

}

@media only screen and (max-width: 3065px) {
    .card-img-top {         /* custom css rule */
        object-fit: contain;
        width: auto;
        max-height: 284px!important;
    }

}