{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <p id="welcome" class="brand black-font">Welcome to RetroReview, your Go-To site for Retro Videogame information and reviews! <br> 
        Pick a game you want to view or write a review about
    </p>
<div class="row">
    <!-- ab hier filter_games-->
    <div class="text-center mt-5">
        <div class="rof justify-content-center">
        <form method="get" action="{% url 'filter_games' %}">
            <label for="id_platform">Platform:</label>
            <select id="id_platform" name="platform">
                <option value="">Choose Platform</option>
                <option value="Gameboy">Gameboy</option>
                <option value="Gameboy Color">Gameboy Color</option>
                <option value="NES">NES</option>
                <option value="SNES">SNES</option>
                <option value="N64">N64</option>
                <option value="PlayStation">PlayStation</option>
                <option value="PlayStation2">PlayStation 2</option>
                <option value="Sega Genesis">Sega Genesis</option>
                <option value="XBOX">XBOX</option>
                {% for platform_option in PLATFORM_CHOICES %}
                    <option value="{{ platform_option.0 }}">{{ platform_option.1 }}</option>
                {% endfor %}
            </select>
            <label for="id_year">Year:</label>
            <select id="id_year" name="year">
                <option value="">Choose Year</option>
                <option value="1980">1980</option>
                <option value="1981">1981</option>
                <option value="1982">1982</option>
                <option value="1983">1983</option>
                <option value="1984">1984</option>
                <option value="1985">1985</option>
                <option value="1986">1986</option>
                <option value="1987">1987</option>
                <option value="1988">1988</option>
                <option value="1989">1989</option>
                <option value="1990">1990</option>
                <option value="1991">1991</option>
                <option value="1992">1992</option>
                <option value="1993">1993</option>
                <option value="1994">1994</option>
                <option value="1995">1995</option>
                <option value="1996">1996</option>
                <option value="1997">1997</option>
                <option value="1998">1998</option>
                <option value="1999">1999</option>
                <option value="2000">2000</option>
                <option value="2001">2001</option>
                <option value="2002">2002</option>
                <option value="2003">2003</option>
                <option value="2004">2004</option>
                <option value="2005">2005</option>
                <option value="2006">2006</option>
                <option value="2007">2007</option>
                <option value="2008">2008</option>
                {% for year_option in YEAR_CHOICES %}
                    <option value="{{ year_option.0 }}">{{ year_option.1 }}</option>
                {% endfor %}
            </select>
            <input type="submit" class="btn btn-signup btn-sm" value="Search">
        </form>
    </div>
</div>

        <!-- Games Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for game in game_list %}
                <div class="col-md-4">
                    <div class="card mb-4 border border-secondary">
                        <div class="card-body">
                            <div class="image-container card-img-top">
                                {% if "placeholder" in game.featured_image.url %}
                                <img class="card-img-top" 
                                    src="https://thenounproject.com/api/private/icons/3674270/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0" alt="No image available">
                                {% else %}
                                <img class="card-img-top" src="{{ game.featured_image.url }}" alt="Game cover image">
                                {% endif %}
                            </div>  
                            <div class="image-flash">                   
                            <!--    <p class="author">{{ game.title }}</p> -->  <!-- class from walktrough, see style.css -->
                            </div>
                            <div>
                                <a href="{% url 'game_detail' game.slug %}" class="game-link">   <!-- add game.id? -->
                                    <h2 class ="card-title">{{ game.title }}</h2>
                                    <p class="card-text thin">{{ game.genre }}</p> 
                                    <p class="card-text">{{ game.developer }}</p> <!-- to be edited! -->
                                    <p class="card-text h6">{{ game.year }}</p>
                                </a>
                            <!--  <i class="far fa-star"></i>{{ game.rating }} --> <!-- to be edited! --> 
                            </div> 
                            <hr />
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}