{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0 topgame">
            <div class="col-md-6 masthead-text">
                <!-- Review banner -->
                <h4 class="game-title">{{ review.title }}</h4>
                <p class="game-subtitle h6">Written by: {{ review.username }} | {{ review.created_on }}</p></p>
                <h5 class ="game-title">{{ game.title }} | {{ game.genre }} </h5>
                    <p class="game-subtitle h6">Platform: {{ game.platform }}</p>
                    <p class="game-subtitle h6">Developer: {{ game.developer }}</p> 
                    <p class="game-subtitle h6">Year of Release: {{ game.year }}</p>
                    <p class="game-title">Rating:
                        <strong class="game-title"><i class="far fa-star style" style="color: goldenrod"></i>{{ review.rating }}<span>/5.0</span></strong>
                    </p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in game.featured_image.url %}
                <img src="https://thenounproject.com/api/private/icons/3674270/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0" width="100%">
                {% else %}
                <img src=" {{ game.featured_image.url }}" alt="Game cover image" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- Review Content -->
                <p class="card-text "> 
                    {{ review.content | safe }}
                </p>
                <div class="row">
                    <div>
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'review_like' game.slug review.slug %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}
                                
                            <button type="submit" name="gamereview_id" value="{{review.slug}}" class="btn-like"><i
                                class="fas fa-thumbs-up"></i></button>
                            
                            {% else %}

                            <button type="submit" name="gamereview_id" value="{{review.slug}}" class="btn-like"><i
                                class="far fa-thumbs-up"></i></button>

                            {% endif %}
                        </form>
                        {% else %}
                        <span><i class="far fa-thumbs-up"></i></span>
                        {% endif %}
                        {% if review.number_of_likes == 0 or review.number_of_likes > 1 %}
                        <span> {{ review.number_of_likes }}<span> Users liked this review</span>
                        {% else %}
                        <span> {{ review.number_of_likes }}<span> User liked this review</span>
                        {% endif %}
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="align">
                <!-- Comments -->
                <h3 class="brand col-red outline">Comments</h3>
                    {% with comments.count as total_comments %}
                    <strong style="margin-left: 10px"><i class="far fa-comments"></i>
                        {{ total_comments }}
                    </strong>
                    {% endwith %}
            </div>
            
            <div class="card-body">
                {% for comment in comments %}
                <div class="border border-dark border-1 rounded" style="padding: 10px;">
                    <p>
                        <span class="brand col-red outline">
                        {{ comment.name }}
                        </span>
                        <span class="whitespace"></span>
                        wrote on 
                        <span>
                            {{ comment.created_on }}
                        </span>
                        :
                    </p> 
                    <span>
                    {{ comment.body | linebreaks }}
                    {% if user.is_authenticated %}
                    {% if comment.author == user or user.is_superuser %}
                        <a href="{% url 'edit_comment' comment.id %}" class="btn btn-success">Edit</a>
                        <a href="{% url 'delete_comment' comment.id %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                    {% endif %}
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3 class="brand col-red outline">Leave<span class="whitespace"></span>a<span class="whitespace"></span>comment:</h3>
                <p>Posting as: <p class="brand col-red outline">{{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <br>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </div>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}